
<div id="id01" class="modal">
  <form class="modal-content animate" action="">
    <div class="container">
      <label><b>Task Title</b></label>
      <input type="text" #todo class="form-control" placeholder="Enter Task" name="todo" ngModel required>
        <br>
      <label><b>Task Description</b></label>
        <textarea #todoDes name="todoDes" placeholder="Enter Description" cols="40" rows="5" ngModel required></textarea>
        <br>
        <app-upload></app-upload>
        <br><br>
        <label><b>Task Category</b></label>
        <select id="selectOption" class= "styled-select slate" [ngModel]="selectedDeviceObj" (ngModelChange)="onChangeObj($event)" name="sel3">
          <option [ngValue]="i" *ngFor="let i of deviceObjects">{{i.name}}</option>
        </select>
        <br><br>
        <label><b>Due Date</b></label>
        <input #todoDate type="date" name="dateofbirth" id="dateofbirth">
        <br><br>
      <button class="button" type="submit" (click)="addTodo(todo.value, todoDes.value, todoDate.value)"
              onclick="document.getElementById('id01').style.display='none'" >Submit</button>
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn button">Cancel</button>
      <br><br>
    </div>
  </form>
</div>

<div class="container1">
  <div class="form-group">
           <button class="button" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><i class="fas fa-plus"></i> Add Project</button>
      
                     <button class=" searchb button" type="submit"><i class="fa fa-search"></i></button>
                     <input class="search" type="text" placeholder="Search..">
    </div>
</div>
<br>
<div class="centerM">
          <div class="data">
              <ul id="id02" class="list-group">
                  <li class="w3-hover-grey" *ngFor="let todo of todoArray" onclick="openNav2()" (click)="selectedButton(todo)">
                      <h6 id="cat">{{todo.name}}</h6>
                      {{todo.des}}
                      <br>
                      <span class="badge">12</span>
                        <i class="fa fa-info-circle padd" aria-hidden="true" onclick="openNav2()" (click)="selectedButton(todo)"></i><i (click)="deleteItem(todo)" class="fa fa-trash padd" aria-hidden="true"></i>
                  </li>
              </ul>
          </div>
</div>

<section>
    <div class="container">
        <div  id="mySidenav2" class="sidenav2 mdl">
            
            <div>
                <h5 class="titleSideNav">{{selectedTitle}}</h5>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
            </div>
            <hr>
                    <label><b><i class="fas fa-list-ul"></i> Category: </b> {{selectedCat.name}}</label> 
                <br>
                    <label><b><i class="fas fa-calendar-day"></i> Deadline: </b> {{selectedDate}}</label>
                <br>
                    <label><b><i class="far fa-clock"></i> Task Created: </b> 3/5/2019</label>
                <br> 
            <!--
                    <label><b><i class="fas fa-user"></i> Assigned To: </b></label>
                <br>
            -->
                    <label><b><i class="fas fa-align-left"></i> Task Description: </b></label>
                      <div>
                        <p class="bordering">{{selectedDes}}</p>
                      </div>
                    <label>Upload file <i class="fas fa-paperclip"></i></label>
                 <br><br>
                    <label><b><i class="far fa-comments"></i> Add a Comment</b></label>
                    <textarea placeholder="Enter a Comment" cols="44" rows="4"></textarea>
                <br>
        </div>
    </div>
</section>